<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link rel="stylesheet"
          target="_blank" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
    <label for="code_snippet"></label>
    <textarea id="code_snippet"
              style="background: rgb(195,195,195);
              height: 230px;width: 850px">// write your code here</textarea>
    <input id="time_restriction" type="text">//time</input>
    <input id="views_restriction" type="text">//views</input>
    <button id="send_snippet"
            type="submit"
            onclick="send()">
        Submit
    </button>
</body>
</html>